{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="container container--xs py-5">
  <div class="card">
    <div class="card-hd"><i class="fa-solid fa-right-to-bracket"></i> Login</div>
    <div class="card-bd">
      <form method="post" class="grid">
        <label>Username
          <input name="username" autocomplete="username" required autofocus>
        </label>
        <label>Password
          <span class="password-field">
            <input id="login-password" name="password" type="password"
                   autocomplete="current-password" aria-label="Password" required>
            <button class="password-toggle" type="button"
                    data-password-toggle="login-password"
                    aria-label="Show password" aria-pressed="false">Show</button>
          </span>
        </label>
        <div>
          <button class="btn btn-primary" type="submit"><i class="fa-solid fa-right-to-bracket"></i> Sign in</button>
        </div>
      </form>
      <div class="login-recovery mt-3">
        <a href="{{ url_for('account_recovery', mode='password') }}">Forgotten password?</a>
        <a href="{{ url_for('account_recovery', mode='username') }}">Forgotten username?</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
