<a href="{{ url_for('training_home') }}"
   class="nav-link {% if request.endpoint == 'training_home' %}active{% endif %}"
   {% if request.endpoint == 'training_home' %}aria-current="page"{% endif %}>
  <i class="fa-solid fa-house" aria-hidden="true"></i> Training home
</a>
<a href="{{ url_for('training_profile', sid=current_user.id) }}"
   class="nav-link {% if request.endpoint == 'training_profile' and request.view_args.get('sid') == current_user.id %}active{% endif %}">
  <i class="fa-solid fa-id-card" aria-hidden="true"></i> My competency
</a>
{% if is_admin or is_editor or current_user.is_wm or current_user.is_dwm or current_user.has_ojti or current_user.has_assessor %}
  <a href="{{ url_for('training_home') }}#people"
     class="nav-link">
    <i class="fa-solid fa-users" aria-hidden="true"></i> People
  </a>
{% endif %}
{% if is_admin or current_user.is_wm or current_user.is_dwm or current_user.has_assessor %}
  <a href="{{ url_for('training_analytics') }}"
     class="nav-link training-nav__admin-start {% if request.endpoint == 'training_analytics' %}active{% endif %}">
    <i class="fa-solid fa-chart-line" aria-hidden="true"></i> Analytics
  </a>
{% endif %}
{% if is_admin %}
  <a href="{{ url_for('training_admin') }}"
     class="nav-link {% if request.endpoint == 'training_admin' %}active{% endif %}">
    <i class="fa-solid fa-sliders" aria-hidden="true"></i> Configure
  </a>
{% endif %}
